GOOGLE_SHEET_ID=
GOOGLE_SHEET_NAME=Videos
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=

# Optional if you want a fallback data source when Google credentials are missing.
NEXT_PUBLIC_APP_NAME=Education4all
